<div class="left_side">Photo<br><br><br><br><br><br><br>
	<h1><%= @user.username %></h1>
	<a href="/user/<%=@user.id%>/following"><button class="body_buttons">Following</button></a>
	<a href="/user/<%=@user.id%>/followers"><button class="body_buttons">Followers</button></a>
</div>
<div class="right_side">
	<form action="/user/<%=@user.id%>" method="post">
	  <textarea type="text" name="content" class="tweet_box2"></textarea>
	  <input type="submit" value="Tweet" class="body_buttons"></input>
	</form>
	<% @tweets.each do |tweet| %>
	  <p><%= tweet.content %></p>
	  <form action="/tweet/<%= tweet.id %>" method="post">
	    <input type="hidden" name="_method" value="delete">
	    <input type="submit" value="delete">
	  </form>
	  <a href="/tweet/<%= tweet.id %>/edit"><button>Edit Tweet</button></a>
	<%end%>
</div>


