<div class="left_side">Photo<br><br><br><br><br><br><br>
	<h1><%= @user.username %></h1>
	<a href="/user/<%=@user.id%>/following"><button class="body_buttons">Following</button></a>
	<a href="/user/<%=@user.id%>/followers"><button class="body_buttons">Followers</button></a>
</div>
<div class="right_side">
	<form action="/user/<%=@user.id%>" method="post">
	  <textarea type="text" name="content" class="tweet_box2"></textarea>
	  <input type="submit" value="Tweet" class="body_buttons"></input>
	</form>
	<% @tweets.each do |tweet| %>
	 	<%= erb :"/Tweet/tweet", locals: {tweet: tweet} %>
	<%end%>
</div>


